.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.form-wrapper {
    width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
.form-group {
    margin-bottom: 15px;
  }

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.formulario-container {
  margin-top: 10%;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(213, 213, 213, 0.8);
}