
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.formulario-container {
  margin-top: 10%;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(213, 213, 213, 0.8);
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}